@import 'utilities.css';
:root{
--primary : #0C1826;
--primary1 : #1B042A;
--logo : #5371ff;
--logo1 : #B052EF;
--dark :  #020001;
--white: #FFFDFF;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


}

header.headerhome{
    height: 40rem;
    clip-path:  polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
    background-color: var(--dark)
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%); */

}



header nav{
    margin-top: 0.5rem;
    padding: 2 rem 0;
}

header nav .logo{
    margin-right: 3rem;
    margin-top: 0.8rem ;
}

header nav .logo img{

    width: 70px;
}


header nav .left a{
    
    color: #FFFDFF;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .6 ease;


}




header nav .left a:hover{
    color:var(--logo)
}



header nav .left a .dropdown {


    overflow: hidden;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
}




.dropdown-content {
    margin-top: 0.5rem;
    display: none;
    position: absolute;
    background-color: #f9f9f949;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.dropdown:hover .dropdown-content {
    
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

body{
    font-family: 'suse';
}


.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn{

    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .1 ease;
}
.btn-primary{
    margin-top: 0.5rem;
    background-color:var(--logo) ;
    color: var(--white);
    
}
.btn-secondary{
    margin-top:  1rem;
    margin-bottom: 2rem;
    background: transparent;
    color:var(--logo);
    border-color: var(--logo);
    
}
.btn-primary:hover{
    background: transparent;
    
    border-color: var(--logo);
    color:var(--logo)

    
}
.btn-secondary:hover{
    background-color: var(--logo);
    color:var(--white);
    

    
}

.Hero .left img{
    margin-left: 9rem;
    margin-top: 2rem;
    border-radius: 50%;
    width: 300px;
}
.Hero .right{
    color: var(--white);
}

.Hero .right h4{
    color: var(--logo);
    margin-bottom: rem;
    margin-bottom: 0.7rem;

    font-weight: 500;
    line-height: 1.2;
}

.Hero .right h1{
    margin-bottom: 0.7rem;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
}
.Hero .right h1 span{
    

    color: var(--logo);


}

.Hero .right p{
    line-height: 1.9;

}
img {
    
    border: 0px solid var(--logo);
    border-radius: 15px;
    padding: 5px;
    width: 50px;
  }


.line-break::before {
    content: "\A";
 
    display: block;
  }

.section{
    padding-top: 2 rem;
    text-align-last: justify;
}

.section .h1{

    text-align-last: justify;
}


section.about .aboutimg {
    width: 200px;
    margin-left: 5rem;
  }
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  section.about h1 span{
    color: var(--logo);
  }
  section.about h3{
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
  }

section.about p{
    -webkit-text-stroke-width: 0.15px;
	-webkit-text-stroke-color: var(--primary);
    font-weight: 500;
    color: var(--logo);
    line-height: 1.3;
    margin-bottom: 2.5rem;
}

/* section.about .social{
    display: flex;
    
}
section.about .social a{
    background: transparent;
    display:flex;
    align-items: center;
    justify-content: center;  
}
section.about .social a img{
    width: 30px;
} */

section.about .social{
    margin-top: 0.2rem;
    display:flex;
    margin-bottom: 2rem;
}
section.about .social a{
    background:var(--logo);
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--primary);
}
section.about .social a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}



.headercontact {
    height: 55rem;
    background-color: var(--dark)
    


}



.contactcontainer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, var(--logo), white );
    padding: 70px;
    
   
}


.contactcontainer .contact h1{
    display: block;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    
    -webkit-text-stroke-width: 0.15px;
	-webkit-text-stroke-color: var(--logo);
    color: var(--dark);   
    font-size: 3rem;
    
}

.contactcontainer .contact h4{
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    

}

.contactcontainer .contact h4 span{
    text-transform: lowercase;
}
.contactcontainer .contact .social{
    display: flex;
    width: 300px;
    margin: 0 auto;
}


.contactcontainer .contact .social .socialcontainer{
    padding: 20rem;
    background-color: var(--dark);
    margin: 0 auto;
}

.contactcontainer .contact .social a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--logo)
    border-radius: 5px;
    font-size: 16px;

}
.contact-form textarea {
    resize: none;
    height: 100px;
    
}

.btn-primaryconatct{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:var(--dark) ;
    color: var(--logo);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
}

}
.btn-primaryconatct:hover{
    background: transparent;
    
    border-color: var(--logo);
    color:var(--logo)

    
}


.accontainer{
	width: 100%;
	padding: 35px 10%;
    background-color: #020001;
}
.accontainer{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
    display: flex;
}
.col header.title{
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: var(--logo);
    font-size: larger;
	font-family: helvetica;
	color: var(--white);
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid black;
    background: linear-gradient(9deg, var(--logo), white );
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color:var(--logo);
	border: 2px solid white;
}



.box h4{
	position: relative;
	color: var(--dark);
}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	font-family: helvetica;
	color: ;
}
.box p{
	line-height: 1.2;
	color: var(--dark);
	font-size: 17px;
}
@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}
/* .col1 header.title{
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: var(--logo);
    font-size: larger;
	font-family: helvetica;
	color: var(--white);
	padding: 0px 0px 20px 30px;
} */
.col1 .contents{
    margin: auto;
    margin-top: 3.3rem;
	padding: 0px 30px;
	border-left: 2px solid #bababa;
    
}
.col1 .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid black;
    background: linear-gradient(9deg, var(--logo), white );
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col1 .contents .box:hover{
	box-shadow: 0px 3px 12px 0px var(--logo);
	border: 1px solid transparent;
}
.col1 .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
	background-color:var(--logo);
	border: 2px solid white;
}

.headeracademic {
    padding: 1rem;
    background-color: var(--dark)
    


}
.headerex {
    height: 45rem;
    clip-path:  polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
    background-color: var(--dark);
 }
.headerskill {
    height: 50rem;
    clip-path:  polygon(0 0, 100% 0, 100% 100%, 70% 85%, 0 100%);
    background-color: var(--dark);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%); */
}

.headerex .expcontainer{
    margin-top: 3rem;
    margin-left: 2rem;
}
.skillbody{
    height: 100rem;
    background: linear-gradient(10deg, var(--logo), white );

    
}

.exbody{
    height: 100rem;
    background: linear-gradient(10deg, var(--logo), white );

    font-family: 'suse';
    
}

.skillcontainer{
	font-family: 'suse';
	padding: 35px 10%;
   
}
.skillcontainer .left{
    font-family: 'suse';
    display: flex;
 


}
.skillcontainer .right{
    margin-right: 10rem;
    display:flex
}

.progresscontainer{
    
    font-family: 'suse';
    width: 100%;
	padding: 35px 10%;
   
    padding-right: calc(10% - 30px);
    margin-left: 1rem;
    
}



.progresscontainer .expertise-section h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1.5px;

	color: var(--dark);
    

	
}
   
}

.skill {
    margin-bottom: 20px;
    font-weight: 800;
    color: var(--dark);
}

.skill p {

    font-size: 20px;
    font-weight: 500;
    margin-top: 1.5rem;
    color: var(--dark);
    
    
    
}

.language-list li {
    background-color: var(--dark); /* Light blue background */
    color: var(--white); /* White text color */
    border: 2px solid var(--logo);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Add hover effect */
.language-list li:hover {
    background-color: var(--dark);
    color: var(--dark); /* Darker blue on hover */
}

.progress-bar-container {
    border: 1px solid var(--dark);
    background-color: var(--dark)
    margin-top: 5px;
    height: 8px;
    border-radius: 3px;

}



.progress-bar {

    
    height: 7px;
    background-color: var(--white);
    border-radius: 3px;
    border-color: 1px var(--dark);
    
}
.progress-bar-container :hover {
    background-color: var(--dark);
    border: 1px solid var(--white);
    
    color: var(--dark); /* Darker blue on hover */
}

.skill:nth-child(1) .progress-bar { width: 85%; } /* CAD */
.skill:nth-child(2) .progress-bar { width: 75%; } /* COMSOL */
.skill:nth-child(3) .progress-bar { width: 65%; } /* Lumerical */
.skill:nth-child(4) .progress-bar { width: 80%; } /* MATLAB */
.skill:nth-child(5) .progress-bar { width: 70%; } /* Wolfram */
.skill:nth-child(6) .progress-bar { width: 90%; } /* PCB Design */
.skill:nth-child(7) .progress-bar { width: 85%; } /* Sensors */
.skill:nth-child(8) .progress-bar { width: 80%; } /* Arduino */
</style>


.extracurricontainer{
    display: flex;
}

.extracurricular-section {
    
    margin-left: 30rem;
    margin-bottom: 2rem;
    background-color: transparent
    border-radius: 8px;

    
   
    
}

.extracurricular-section .title {
    text-align: center;
    
    
}

.extracurricular-section h2 {
    margin-bottom: 2rem;
    font-size: 32px;
    color: var(--logo)
    text-transform: uppercase;
    letter-spacing: 2px;
}

.extracurricular-list {
   
    list-style: none;
    padding: 0;
}

.extracurricular-list li {
    box-shadow: 0px 2px 5px var(--logo);
   
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  
    padding: 10px;
    background-color: var(--logo);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.extracurricular-list li:hover {
    transform: scale(1.0)2;
    background-color: var(--white);
}

.extracurricular-list .year {
    font-weight: bold;
    color: var(--dark);  /* Different color for the year */
}

.extracurricular-list .activity {
    font-weight: 500;
    color: var(--dark);  /* Different color for the activity text */
}

/* Responsive Design */
@media (max-width: 768px) {
    .extracurricular-list li {
        flex-direction: column;
        align-items: flex-start;
    }
}


.res{
    background: linear-gradient(-45deg, var(--logo), white );
}

.rescontent{
   
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
    padding: 5rem;
    background-color: var(--white)
}

.rescontent .left{
    
    margin-right: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    color: var(--white);
    background-color: var(--dark)


}
.rescontent .right{
   
    border-radius: 1rem;
    padding: 2rem;
    color: var(--white);
    background-color: var(--dark)


}

.rescontent h1{
    text-transform: uppercase;
}

.rescontent h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    
}
.rescontent h4 span{
   
   color: var(--logo);
    
}

.cursor {
    font-weight: bold;
    font-size: 24px;
    color: black;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#dynamic-text {
    font-size: 20px;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}